* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  width: 90rem;
}
.container {
  width: 85.3125rem;
  /* width: 1344px; */
  /* border: 2px solid #141111; */
  margin: 0 auto;
}
.header {
  background-image: url("../img/Plakat.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #32230f;
  max-width: 85.3125rem;
  height: 48rem;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.header-title {
  position: absolute;
  top: 11.9375rem;
  left: 45.4375rem;
  object-fit: cover;
}
.header-autor {
  position: absolute;
  bottom: 2.3125rem;
  right: 5rem;
  object-fit: cover;
}
.header-autor img {
  width: 30.9375rem;
}
.header-title img {
  width: 31.6875rem;
}

.header-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #eee; */
  margin-left: 6.875rem;
}
.header-menu-item {
  margin-right: 2.5rem;
}
.header-menu-link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  text-align: center;
  color: #ead4ac;
}
.header-menu-link:hover {
  color: #fff;
}
.navbar {
  /* height: 64px; */
  padding-top: 1.25rem;
  padding-bottom: 0.9375rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  /* max-width: 90rem; */
  left: 0;
  top: 0;
  transition: background-color 0.2s, height 0.2s;
  z-index: 2;
}
.navbar-light {
  background-color: #ffff;
  color: #292d33;
  /* height: 2.625rem; */
}
.navbar-light a {
  color: #292d33;
}
.navbar-light a:hover {
  color: #7a641c;
}
.header-logo {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  /* border: 1px solid #363535 */
}
.header-logo img {
  width: 4.8125rem;
  height: 5.5rem;
  object-fit: cover;
}
.main {
  margin-top: 1.5625rem;
}
.main-team {
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 1.55rem;
  grid-template-rows: auto;
  grid-row-gap: 0px;
  justify-content: space-between;
  align-content: start;
}
.text-item1 {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
}
.text-item2 {
  grid-area: 2 / 1 / 3 / 2;
}
.text-item3 {
  grid-area: 3 / 1 / 4 / 2;
  align-self: center;
}
.text-item4 {
  grid-area: 4 / 1 / 5 / 2;
}
.images1 {
  grid-area: 1 / 2 / 5 / 3;
  align-self: center;
}
.images3 {
  grid-area: 6 / 2 / 7 / 3;
  align-self: start;
  margin-top: 3.125rem;
}
.main-team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-text {
  display: inline-block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: #685330;
  text-indent: 1.5em;
  width: 53.875rem;
  text-align: justify;
  /* padding-top: .3125rem; */
}
.main-image {
  display: block;
  width: 53.875rem;
  margin-top: 1.5625rem;
  grid-area: 5 / 1 / 7 / 2;
}
.main-image img {
  width: 53.875rem;
  object-fit: cover;
}
.team-item-images {
  display: block;
  width: 29.875rem;
}
.team-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.875rem;
  margin-top: 1.5625rem;
  /* margin-bottom: 50px; */
  grid-area: 5 / 2 / 6 / 3;
  align-self: start;
  /* justify-self: end; */
}
.team-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-img img {
  height: 10.0625rem;
  object-fit: cover;
}
.command {
  position: relative;
  margin-top: 1.5625rem;
}
.command-foto {
 max-width: 85.3125rem;
}
.command-foto img {
  object-fit: cover;
  object-position: -0.1875rem -14.6875rem;
  width: 100%;
  height: 32.25rem;
}
.foto-pris {
  position: absolute;
  top: 0.4375rem;
  right: 3.5625rem;
  /* left: 64.875rem; */
  width: 17.1875rem;
  height: 17.1875rem;
  object-fit: cover;
}
.foto-pris img {
  object-fit: cover;
  width: 17.5rem;
  height: 17.5rem;
}
.logo-pris {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}
.logo-pris img {
  width: 11.25rem;
}
.foto-message {
  height: 12.3125rem;
  /* width: 197px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.foto-item:nth-child(1) {
  height: 12.25rem;
  width: 7.1875rem;
}
.foto-item:nth-child(1) img {
  display: block;
  height: 13.25rem;
  width: 10.6875rem;
  object-position: 0 -1.25rem;
  object-fit: cover;
}
.foto-item:nth-child(2) img {
  display: block;
  height: 10.8125rem;
  width: 20.5625rem;
  /* object-position: 0 10px ; */
  object-fit: cover;
}
.foto-item {
}
.foto-item:nth-child(5) img {
  display: block;
  height: 11.5rem;
  width: 13.5rem;
}
.foto-item:nth-child(4) img {
  display: block;
  height: 10.1875rem;
  width: 13.5rem;
}
.list {
  width: 26.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  list-style: none;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  text-align: center;
  color: #000000;
  /* padding-left: 10px;
padding-right: 10px; */
}
.progects-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 3.75rem;
  /* line-height: 75px; */
  /* identical to box height */
  width: 100%;
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  color: #343c57;
}
.progect-item img {
  display: block;
  width: 318px;
}
.progect-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.625rem;
}
.footer {
  background: #473518;
  margin-top: 1.875rem;
}
.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 3.75rem;
}
.footer-left,
.footer-right {
  list-style: none;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: .6875rem;
  line-height: .9375rem;
  color: #c3bdb6;
}
/* .footer-right {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.125rem;
  color: #c3bdb6;
} */
.mobile-phone {
  text-decoration: none;
  color: #c3bdb6;
}
.mobile-phone:hover {
  color: #f3c091;
}
.footer-copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: .6875rem;
  line-height: .9375rem;
  color: #c3bdb6;
  text-align: center;
  padding-bottom: 0.8375rem;
}
/*---------------------------------------------------------*/
@media (hover: hover) {
  .header-menu-link:hover {
    color: #fff;
  }
}

/* =================================================================================================== */
@media (max-width: 1358px) {
  .team-text {
    font-size: 0.9375rem;
    line-height: 1.0875rem;
    width: 52.975rem;
  }
  .main-image img {
    width: 52.975rem;
  }
  .team-item-images {
    width: 29.875rem;
  }
  .team-img {
    width: 29.875rem;
  }
  .command {
    margin-top: 1.5625rem;
  }
  .team-img img {
    height: 10.0625rem;
  }
}
/* =================================================================================================== */
@media (max-width: 1338px) {
  .header {
    /* width: 83.625rem; */
    height: 41rem;
  }
  .team-text {
    width: 53.675rem;
  }
  .main-image {
    width: 53.675rem;
  }
  .main-image img {
    width: 53.675rem;
  }
  .main-team {
    grid-column-gap: 2.25rem;
  }
  .team-img img {
    height: 9.7625rem;
  }
  .team-item-images {
    width: 28.975rem;
  }
  .team-img {
    width: 28.975rem;
  }
}
/* =================================================================================================== */
@media (max-width: 1280px) {
  .container {
    width: 80rem;
  }
  .header-logo {
    top: 1.1375rem;
    right: 1.4375rem;
}
  .main-team {
    grid-column-gap: 1.55rem;
  }
  .main-image,
  .main-image img {
    width: 50.475rem;
  }
  .team-text {
    width: 50.475rem;
  }
  .team-item-images {
    width: 27.775rem;
  }
  .team-img {
    width: 27.775rem;
  }
  .team-img img {
    height: 9.0625rem;
  }
  .images3 {
    margin-top: 3.25rem;
  }
  .command-foto {
    /* max-width: 80rem; */
}
  .command-foto img {
    object-fit: cover;
    object-position: -0.1875rem -13.1875rem;
    width: 100%;
    height: 31.55rem;
   
  }
  .foto-pris img {
    object-fit: cover;
    width: 17rem;
    height: 17rem;
  }
  .foto-pris {
    top: 2.1375rem;
    right: 3.5625rem;
    /* left: 64.875rem; */
    width: 17rem;
    height: 17rem}
    .foto-item:nth-child(1) {
    
      height: 13.25rem;
      width: 10.6875rem;
     
  }
  .foto-item:nth-child(2) img {
  
    height: 9.3125rem;
    width: 17.0625rem;
  
}
  /* .foto-item:nth-child(2) {
    display: block;
    height: 10.8125rem;
    width: 20.5625rem;
   
    object-fit: cover;
} */
  .foto-item:nth-child(4) img {
    display: block;
    height: 7.4875rem;
    width: 10.1rem;
}
  .foto-item:nth-child(5) img {
    display: block;
    height: 9.2rem;
    width: 11.3rem;
}
}

/* =================================================================================================== */
@media (max-width: 1240px) {
  .container {
    width: 77.5rem;
  }
  .header-menu-link {
    font-size: 1.1375rem;
  }
  .header {
    /* width: 77.6125rem; */
    height: 41rem;
  }
  .header-autor {
    bottom: 1.1125rem;
    right: 2rem;
  }
  .main-team {
    grid-column-gap: 1.75rem;
  }
  .team-text {
    width: 48.775rem;
  }
  .main-image {
    width: 48.775rem;
  }
  .main-image img {
    width: 48.775rem;
  }
  .images3 {
    margin-top: 2.95rem;
  }
  .team-item-images {
    width: 26.675rem;
  }
  .header-title {
    top: 11.9375rem;
    left: 42.4375rem;
  }

  .team-img {
    width: 26.675rem;
  }
  .team-img img {
    height: 9.0625rem;
  }
  .foto-item:nth-child(4) img {
    display: block;
    height: 8.7875rem;
    width: 11rem;
}
.foto-item:nth-child(2) img {
  display: block;
  height: 8.3125rem;
  width: 17.2625rem;
  /* object-position: 0 10px; */
  object-fit: cover;
}
.foto-item:nth-child(1) img {
  display: block;
  height: 12.65rem;
  width: 10.3875rem;
  object-position: 0 -1.25rem;
  object-fit: cover;
}
.foto-item:nth-child(5) img {
    display: block;
    height: 10.5rem;
    width: 12.6rem;
}
}
/*---------------------------------------------------------*/
@media (max-width: 900px) {
  .container {
    /* width: 90%; */
  }
  .main-image {
    width: 48.975rem;
  }
  .main-image img {
    width: 48.975rem;
  }
  .team-text {
    width: 48.975rem;
    font-size: 1.06rem;
    line-height: 1.1875rem;
  }
  .team-item-images {
    width: 26.875rem;
  }
  .team-img {
    width: 26.875rem;
  }
  .team-img img {
    height: 9.0625rem;
  }
  .images1{
   
  }
  .list {
    width: 30.35rem;
    font-size: 1.08rem;
    line-height: 1.45rem;
  }
}
/* *---------------------------------------------------------*/
@media (max-width: 750px) {
  .header-menu-link {
    font-size: 1.3375rem;
  }

  .foto-item:nth-child(2),
  .foto-item:nth-child(5) {
    display: none;
  }
  .foto-message {
    height: 16.2125rem;
    /* width: 197px; */

    justify-content: space-between;
    margin-top: 1.25rem;
  }
  .team-text {
    font-weight: 500;
    font-size: 1.16rem;
    line-height: 1.1875rem;
  }
  .list {
    width: 55.05rem;

    font-size: 1.68rem;
    line-height: 1.95rem;
  }
  .foto-item:nth-child(5) img {
    height: 8.3rem;
    width: 12.1rem;
  }
  .foto-item:nth-child(5) img {
    height: 8.3rem;
    width: 12.1rem;
  }
  .image3{
    margin-top: .625rem;
  }
  
}

/*---------------------------------------------------------*/
@media (max-width: 435px) {
  body {
    width: 25rem;
  }
  .container {
    max-width: 25rem;
  }
  .header {
    background-position: 0 0.625rem;
    background-size: cover;
    /* width: 25rem; */
    height: 16.3rem;
    position: relative;
  }
  .header-title {
    top: 5.4875rem;
    left: 14.275rem;
    object-fit: cover;
  }
  .header-autor {
    bottom: 0.3125rem;
    right: 0.3rem;
    object-fit: cover;
  }
  .header-autor img {
    width: 12.625rem;
  }
  .header-title img {
    width: 9.725rem;
  }
  .header-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #eee; */
    margin-left: 0;
    width: 25rem;
  }
  .header-menu-link {
    font-size: 0.8375rem;
  }
  .navbar {
    padding-top: 0.45rem;
    padding-bottom: 0.4375rem;
    /* width: 25rem; */
  }
  .header-logo {
    position: absolute;
    top: 0.3375rem;
    right: 0.9375rem;
  }
  .header-logo img {
    width: 2.4125rem;
    height: 2.9rem;
    object-fit: cover;
  }
  .header-menu-item {
    margin-right: 0.625rem;
  }
  .main-team {
    width: 25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: start;
    margin: 0 auto;
  }
  .images1 {
    /* grid-area: image1; */
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
  }
  .text-item1 {
    /* grid-area: text1; */
    grid-area: 2 / 1 / 3 / 2;
    align-self: center;
    justify-self: center;
    /* display: flex;
    justify-content: center; */
  }
  .text-item2 {
    /* grid-area: text2; */
    grid-area: 4 / 1 / 5 / 2;
    align-self: center;
    justify-self: center;
  }
  .text-item3 {
    /* grid-area: text3; */
    grid-area: 5 / 1 / 6 / 2;
    align-self: center;
    justify-self: center;
  }
  .text-item4 {
    /* grid-area: text4; */
    grid-area: 8 / 1 / 9 / 2;
    align-self: center;
    justify-self: center;
  }

  .images3 {
    /* grid-area: image3; */
    grid-area: 3 / 1 / 4 / 2;
    align-self: start;
    margin-top: 0.625rem;
  }
  .team-text {
    display: block;
    width: 23.6rem;
    margin-top: 0.625rem;
    font-weight: 400;
    justify-content: center;
  }
  .team-img {
    display: none;
    grid-area: 5 / 1 / 8 / 2;
  }
  .team-item-images {
    width: 25rem;
  }
  .main-image {
    display: block;
    margin-top: 0.625rem;
    width: 25rem;
    grid-area: 7 / 1 / 8 / 2;
  }

  .main-image img {
    width: 25rem;
  }
  .command {
    margin-top: 1.5625rem;
  }
  .command-foto {
    width: 25rem;
    /* height: 21.15rem; */
  }
  .command-foto img {
    object-position: -0.1875rem -3.9875rem;
    width: 100%;
    height: 9.85rem;
  }
  .logo-pris {
    top: 0.325rem;
    left: 0.325rem;
  }
  .logo-pris img {
    width: 3.25rem;
  }
  .foto-pris {
    position: absolute;
    top: 0.4375rem;
    left: 18.875rem;
    width: 5.1rem;
    height: 5.1rem;
    object-fit: cover;
  }
  .foto-pris img {
    object-fit: cover;
    width: 5.1rem;
    height: 5.1rem;
  }
  .foto-message {
    height: 16.1125rem;
    flex-direction: column;
    margin-top: 0.625rem;
  }
  .foto-item:nth-child(1),
  .foto-item:nth-child(2),
  .foto-item:nth-child(5) {
    display: none;
  }
  .foto-item {
    margin-top: 1rem;
}
  .list {
    font-size: 0.8375rem;
    line-height: 1.05rem;
    width: 25rem;
  }
  .foto-item:nth-child(4) img {
    height: 9.1875rem;
    width: 11.3rem;
  }
  .progects-title {
    font-size: 2.35rem;
    margin-top: 3.475rem;
    margin-bottom: 1.25rem;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  .progect-list {
    flex-direction: column;
    gap: 1.25rem;
  }
  .progect-item img {
    display: block;
    width: 296.6px;
  }
  .footer {
    margin-top: 1.275rem;
  }
  .footer-left,
  .footer-right {
    font-size: 0.4125rem;
    line-height: 0.825rem;
    flex-direction: column;
  }
  .footer-right a {
    font-size: 0.5125rem;
  }
  .footer-text {
    padding: 0.35rem 0.35rem;
  }
  .footer-copyright {
    font-size: 0.455rem;
    line-height: 0.625rem;
    padding-bottom: 0.3125rem;
  }
}
/*---------------------------------------------------------*/
@media (max-width: 375px) {
  body {
    width: 23rem;
  }
  .container{
    max-width:22.5rem;
  }
  .header-menu-link {
    font-size: 0.7375rem;
}
.header-logo img {
  width: 1.8125rem;
  height: 2rem;
  object-fit: cover;
}
.header-autor img {
  width: 11.825rem;
}
.header-title img {
  width: 9.225rem;
}
.header-title {
  top: 5.7875rem;
  left: 13.075rem;
}
.header-autor {
  bottom: 0.3125rem;
  right: 1.6rem;
}
  .main-team {
    width: 22.5rem;
  
}
  .team-item-images {
    width: 23rem;
}
.main-image img {
   width: 23rem;
}
.main-image {
  width: 23rem;
 
}
.images1{
  justify-self: center;
}
.team-text {
  font-size: 1.06rem;
  line-height: 1.1875rem;
}
.team-text {
  display: block;
  width: 22.9rem;
  margin-top: 0.625rem;
  
}
.header {
  background-position: 0 0.625rem;
  background-size: cover;
  /* width: 25rem; */
  height: 16.3rem;
  position: relative;
  max-width: 23.4375rem;
}
.command-foto {
  width: 23rem;
  margin: 0 auto;
  /* height: 21.15rem; */
}
.command-foto img {
  object-position: -0.1875rem -3.9875rem;
 
  height: 9.05rem;
}
.foto-pris img {
 
  width: 4.5rem;
  height: 4.5rem;
}
.foto-pris {
  position: absolute;
  top: 0.4375rem;
  left: 16.975rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
}
.list {
  font-size: 0.6375rem;
  line-height: 1.05rem;
  width: 18.2rem;
}
.progects-title {
  font-size: 1.55rem;
  margin-top: 3.875rem;
  margin-bottom: 1.25rem;
}
.footer-text {
  padding: 0.35rem 0.45rem;
  justify-content: center;
  gap: .625rem;
}
.footer-right a {
  font-size: 0.6125rem;
}
}